[project]
	description = An ordering multi-select gallery
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/deltaguita
[access "refs/for/refs/*"]
	read = group user/deltaguita
	push = group user/deltaguita
	label-Code-Review = -2..+2 group user/deltaguita
	label-Verified = -1..+1 group user/deltaguita
	rebase = group user/deltaguita
	removeReviewer = group user/deltaguita
	submit = group user/deltaguita
[access "refs/heads/*"]
	read = group user/deltaguita
	create = group user/deltaguita
	push = +force group user/deltaguita
	pushMerge = group user/deltaguita
[access "refs/tags/*"]
	push = +force group user/deltaguita
	pushTag = group user/deltaguita
	pushSignedTag = group user/deltaguita
